sudo: false

language: php

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

php:
  - 7.3
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - 5.4

env:
  # latest stable:
  - WP_VERSION=latest WP_MULTISITE=0
  # earliest supported version:
  - WP_VERSION=4.7 WP_MULTISITE=0

matrix:
  fast_finish: true
  exclude:
    # don't test 4.7 on PHP 7.3:
    - php: 7.3
      env: WP_VERSION=4.7 WP_MULTISITE=0
    # don't test 4.7 on PHP 7.2:
    - php: 7.2
      env: WP_VERSION=4.7 WP_MULTISITE=0

before_script:
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ! -z "$WP_VERSION" ]] ; then
      bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
      if [[ ${TRAVIS_PHP_VERSION:0:2} == "5." ]]; then
        composer global require "phpunit/phpunit=4.8.*"
      else
        composer global require "phpunit/phpunit=5.7.*"
      fi
    fi
  - composer install --no-progress --prefer-source

script: phpunit
